[Package]
version: 1
depends:

[Product]
type: localboot
id: opsi-cli
name: opsi-cli
description: Command line interface for opsi (Windows, Linux, MacOS)
advice:
version: 4.3.11.0
priority: 0
licenseRequired: False
productClasses:
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:
